@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: local('Girloy Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/Gilroylight.ttf') format('truetype');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: local('Gilroy Extra Bold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/Gilroyextrabold.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff'),
       url('../fonts/OpenSans-Light.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.main-navigation {
  background-color: #f0c52e;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalogue-navigation {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
}

.user-navigation {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
}

.main-navigation__search-input {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  background-color: #f0c52e;
  color: rgba(0,0,0,0.3);
  border: none;
}

.main-navigation__search-input:focus {
  color: #000000;
}

.site-navigation,
.catalogue-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation__link,
.catalogue-navigation__link,
.user-navigation__link {
  color: #000000;
}

.site-navigation__link:hover,
.catalogue-navigation__link:hover,
.user-navigation__link:hover,
.main-navigation__search-input:hover {
  color: rgba(0,0,0,0.6);
}

/* .main-navigation__logo img:hover
.main-navigation__logo img:focus */

.site-navigation__link:focus,
.catalogue-navigation__link:focus,
.user-navigation__link:focus {
  color: rgba(0,0,0,0.3);
}

.about__title,
.contacts__title {
  font-size: 47px;
  line-height: 48px;
}

.about__description,
.contacts__description {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
}

.about__partners-list {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

.about__details-link,
.contacts__writeus-link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-site-navigation__link,
.footer-user-navigation__link,
.social-links__link,
.main-footer__academy-link {
  color: #ffffff;
}

.main-footer__address,
.main-footer__phone-number {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  color: #ffffff;
}

.footer-site-navigation,
.footer-user-navigation,
.social-links {
  list-style: none;
}

.footer-site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
}

.footer-user-navigation__link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}

.social-links {
  text-align: center;
}

.footer-site-navigation__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* .main-footer__logo img:hover
   .main-footer__logo img:focus */

.footer-site-navigation__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation__link:hover {
  color: #ffffff;
}

.footer-user-navigation__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.main__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.breadcrumbs {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  list-style: none;
}

.breadcrumbs__link {
  color: rgba(0,0,0,0.3);
}

.filters {
  background-color: #efefef;
}

.filters__fieldset {
  border: none;
}

.filters-fieldset__legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.filters-fieldset__list {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0.1px;
  list-style: none;
}

.user-navigation__link-exit {
  color: rgba(0,0,0,0.3);
}

.base-button {
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  color: #000000;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  border: none;
}

.base-button:hover {
  width: 220px;
  height: 40px;
}

.base-button a:focus {
  color: rgba(0,0,0,0.3);
}

.catalog-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.catalog-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
}
