@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: local('Girloy Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/Gilroylight.ttf') format('truetype');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: local('Gilroy Extra Bold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/Gilroyextrabold.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff'),
       url('../fonts/OpenSans-Light.ttf') format('truetype');
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-top: 40px;
}

.catalogue-navigation {
  display: none;
}

.main-navigation {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f7e296;
  padding: 0 60px;
}

.site-navigation {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.catalogue-navigation {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.user-navigation {
  display: flex;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}

.main-header .user-navigation__link-exit {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__search-input {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  background-color: #f7e296;
  color: rgba(0,0,0,0.3);
  border: none;

}


.main-navigation__search-input:focus {
  color: rgba: rgba(0, 0, 0, 1);
}

.site-navigation,
.catalogue-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation__link,
.catalogue-navigation__link,
.user-navigation__link {
  color: #000000;
}

.site-navigation__link:hover,
.catalogue-navigation__link:hover,
.user-navigation__link:hover,
.main-navigation__search-input:hover {
  color: rgba(0,0,0,0.6);
}

/* .main-navigation__logo img:hover
.main-navigation__logo img:focus */

.site-navigation__link:focus,
.catalogue-navigation__link:focus,
.user-navigation__link:focus {
  color: rgba(0,0,0,0.3);
}

.main__columns {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 460px;
}

.contacts {
  width: 560px;
}

.about__title,
.contacts__title {
  font-size: 47px;
  line-height: 48px;
}

.about__description,
.contacts__description {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
}

.about__partners-list {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

.about__details-link,
.contacts__writeus-link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 90px;
  padding: 0 50px;
  background-color: #464646;
  color: #ffffff;
}

.footer-user-navigation,
.main-footer__phone-number,
.main-footer__academy-link {
  margin: 0;
  margin-left: auto;
}

.footer-site-navigation__link,
.footer-user-navigation__link,
.social-links__link,
.main-footer__academy-link {
  color: #ffffff;
}

.main-footer__address,
.main-footer__phone-number {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  color: #ffffff;
}

.popular-goods__item:nth-child(2),
.popular-goods__item:nth-child(3) {
  display: none;
}

.footer-site-navigation,
.footer-user-navigation,
.social-links {
  list-style: none;
}

.footer-site-navigation {
  display: flex;
  margin: 0 auto;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
}

.footer-user-navigation {
  display: flex;
}

.footer-user-navigation__link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}

.social-links {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.main-footer {
  display: flex;
}

.footer-site-navigation__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation__link:hover {
  color: #ffffff;
}

.footer-user-navigation__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-page .main-header {
  margin-bottom: 30px;
}

.main__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.main__title-columns {
  padding-left: 80px;
}

.breadcrumbs__link {
  color: rgba(0,0,0,0.3);
}

.catalog__sorting {
  display: flex;
  margin-bottom: 69px;
}

.sorting__list {
  display: flex;
}

.sorting__pointer {
  display: flex;
}

.filters {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

.filters__fieldset {
  border: none;
}

.filters-fieldset__legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.filters-fieldset__list {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0.1px;
  list-style: none;
}

.main-footer .user-navigation__link-exit {
  color: rgba(255,255,255,0.3);
}

.base-button {
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  color: #000000;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

.base-button:hover {
  width: 220px;
  height: 40px;
}

.base-button:focus {
  color: rgba(0,0,0,0.3);
}

.catalog__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.container__catalog {
  width: 970px;
  margin: 0 auto;
}

.filters-columns {
  display: flex;
  justify-content: space-around;
}

.catalog-columns {
  margin-left: 73px;
  margin-bottom: 77px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.catalog__item {
  width: 360px;
  margin-bottom: 70px;
  margin-right: 40px;
}

.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.catalog-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
}

.catalog-page .main-footer {
  margin-top: 0px;
}

.popular-goods__list {
  list-style: none;
}

.popular-goods__number {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: bold;
  font-style: normal;
  line-height: 179px;
  letter-spacing: 1.8px;
  /* color: #ffffff; */
  /*Временно*/
  color: #000000;
}

.popular-goods__tagline {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.popular-goods__description {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;
}

.popular-table__title {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #464646;
}

.popular-table__item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.goods-list__item{
  list-style: none;
}

.partners__list {
  list-style: none;
}

.goods-list__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}

.features {
  background-color: #e5e5e5;
}

.features__navigation {
  list-style: none;
}

.features__list {
  list-style: none;
}

.features__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.features__description {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;
}

.modal-writeus {
  display: none;
}

.modal-map {
  display: none;
}

.filters__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: #d9d9d9;
}

.sorting__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sorting__button {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
}

.catalog__sorting {
  background-color: #ebebeb;
}

.sorting__button.checked {
  color: rgba(0, 0, 0, 1)
}

.sorting__button:hover {
  color: rgba(0, 0, 0, 0.6)
}

.sorting__button:focus {
  color: rgba(0, 0, 0, 1)
}

.sorting__item {
  list-style: none;
}

.catalog__item {
  list-style: none;
}

.catalog-hover__button {
  display: none;
}

.pagination {
  display: flex;
  background-color: #ebebeb;
}

.pagination__item {
  list-style: none;
}

.pagination__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000
}

.pagination__link-number {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link-step {
  text-transform: uppercase;
}

.pagination__link-number.checked {
  color: rgba(0, 0, 0, 1);
}

.pagination__link-step:hover {
  background-color: #d9d9d9;
}

.pagination__link-step:focus {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3)
}

.pagination__link-number:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__link-number:focus {
  color: rgba(0, 0, 0, 1)
}
