@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: local('Girloy Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/Gilroylight.ttf') format('truetype');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: local('Gilroy Extra Bold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/Gilroyextrabold.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff'),
       url('../fonts/OpenSans-Light.ttf') format('truetype');
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.base-button {
  position: relative;
  z-index: 1;
  width: 220px;
  height: 40px;
  color: #000000;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.base-button::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 220px;
  height: 40px;
  background-color: #f0c52e;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12px, #f0c52e 12px 20px, rgba(0, 0, 0, 0) 20px);
}

.base-button:hover::before {
  background: none;
  background-color: #f0c52e;
}

.base-button:active {
  color: rgba(0, 0, 0, 0.3)
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Index*/

.main-header {
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.main-navigation {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 60px;
  padding-right: 55px;
}

.main-navigation__logo {
  position: absolute;
  z-index: 2;
  top: 20px;
}

.main-navigation__logo:hover {
  opacity: 0.6;
}

.main-navigation__logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 162px;
}

.catalogue-navigation {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  padding: 0;
  margin: 0;
  display: none;
}

.user-navigation {
  display: flex;
  width: 505px;
  justify-content: space-between;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  position: absolute;
  right: 54px;
}

.user-navigation__item:nth-child(1) {
  position: relative;
  margin-left: 26px;
}

.user-navigation__item:nth-child(2) {
  position: relative;
  margin-right: -173px;
}

.user-navigation__item:nth-child(3) {
  position: relative;
  margin-right: 5px;
}

.user-navigation__item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 48px;
  background: url('../img/decorative/user.svg') no-repeat 0 0;
}

.user-navigation__item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 68px;
  background: url('../img/decorative/compare.svg') no-repeat 0 0;
}

.user-navigation__item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 63px;
  background: url('../img/decorative/cart.svg') no-repeat 0 0;
}

.main-header .user-navigation__link-exit {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__search-input {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  background-color: #f7e296;
  color: rgba(0,0,0,0.3);
  border: none;
  padding-left: 39px;
}

.main-navigation__search {
  position: relative;
}

.main-navigation__search::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: url('../img/decorative/search.svg') no-repeat 0 0;
}

.main-navigation__search-input:focus {
  color: rgba(0, 0, 0, 1);
}

.main-navigation__row {
  display: flex;
  padding-top: 82px;
  padding-bottom: 37px;
}

.site-navigation__item-catalog {
  position: relative;
}

.site-navigation__item-delivery {
  right: 436px;
  position: absolute;
}

.site-navigation__item-warranty {
  position: absolute;
  right: 287px;
}

.site-navigation__item-contacts {
  position: absolute;
  right: 55px;
}

.site-navigation__item-catalog::after:hover .catalogue-navigation {
  display: block;
}

.site-navigation__item-catalog::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: -27px;
  bottom: 12px;
  cursor: pointer;
}

.site-navigation__item-catalog::after {
  content: "";
  width: 2px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: -20px;
  bottom: 5px;
  cursor: pointer;
}

.site-navigation,
.catalogue-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation__link,
.catalogue-navigation__link,
.user-navigation__link {
  color: #000000;
}

.user-navigation__item:hover,
.catalogue-navigation__item:hover,
.site-navigation__item:hover {
  opacity: 0.6;
}

.user-navigation__item:active,
.catalogue-navigation__item:active,
.site-navigation__item:active {
  opacity: 0.3;
}

/* .site-navigation__link:hover,
.catalogue-navigation__link:hover,
.user-navigation__link:hover,
.main-navigation__search-input:hover {
  color: rgba(0,0,0,0.6);
} */

/* .main-navigation__logo img:hover
.main-navigation__logo img:focus */

.site-navigation__link:focus,
.catalogue-navigation__link:focus,
.user-navigation__link:focus {
  color: rgba(0,0,0,0.3);
}

.popular-goods__item:nth-child(2),
.popular-goods__item:nth-child(3) {
  display: none;
}

.popular-goods {
  margin-bottom: 149px;
}

.popular-goods__columns {
  display: flex;
  width: 1160px;
}

.popular-goods__list {
  display: flex;
  list-style: none;
}

.popular-goods__image-container {
  position: relative;
  display: flex;
  left: 51px;
  bottom: 124px;
  width: 474px;
  margin-right: 85px;
}

.popular-goods__description-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 686px;
  position: relative;
  left: 36px;
  bottom: 45px;
}

.popular-goods__number {
  position: absolute;
  bottom: 222px;
  right: 121px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: bold;
  font-style: normal;
  line-height: 179px;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.popular-goods__tagline {
  width: 400px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.popular-goods__tagline::before {
  content: "";
  position: absolute;
  top: -42px;
  left: 1px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;

}

.popular-goods__description {
  position: relative;
  top: 2px;
  width: 495px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;
}

.popular-goods__details {
  position: relative;
  top: 40px;
  left: 2px;
}

.popular-goods__description-container .base-button::before {
  width: 220px;
  bottom: 5px;
  left: -2px;
}

.popular-goods__table {
  position: relative;
  top: 109px;
}

.popular-table__row-titles {
  position: absolute;
  top: 57px;
  left: -2px;
}

.popular-table__row-items {
  position: absolute;
  left: -2px;
}

.popular-table__title {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #464646;
  padding-right: 77px;
}

.popular-table__item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.36px;
  padding-right: 66px;
}

.goods-calatog {
  margin-bottom: 150px;
}

.goods-navigation {
  display: none;
}

.goods-list {
  position: relative;
  left: -38px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goods-list__item {
  display: flex;
  position: relative;
  width: 160px;
  padding-top: 10px;
  list-style: none;
  cursor: pointer;
}

.goods-list__item::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: -167px;
  left: -1px;
  background-color: #f7e296;
}

.goods-list__item-glass::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 47px;
  left: 30px;
  background: url(../img/decorative/popular-glass.svg) no-repeat 0 0;
}

.goods-list__item-stick {
  left: 7px;
}

.goods-list__item-stick::after {
  content: "";
  width: 160px;
  height: 160px;
  left: 38px;
  bottom: 58px;
  position: absolute;
  background: url(../img/decorative/popular-stick.svg) no-repeat 0 0;
}


.goods-list__item-camera {
  left: 14px;
}

.goods-list__item-camera::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  background: url(../img/decorative/popular-camera.svg) no-repeat 0 0;
}

.goods-list__item-camera::before {
  left: 1px;
}

.goods-list__item-tracker {
  left: 23px;
}

.goods-list__item-tracker::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 49px;
  left: 28px;
  background: url(../img/decorative/popular-tracker.svg) no-repeat 0 0;
}

.goods-list__item-clock {
  left: 31px;
}

.goods-list__item-clock::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 67px;
  left: 55px;
  background: url(../img/decorative/popular-clock.svg) no-repeat 0 0;
}

.goods-list__item-copter {
  left: 39px;
}

.goods-list__item-copter::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 50px;
  left: 13px;
  background: url(../img/decorative/popular-copter.svg) no-repeat 0 0;
}

.goods-list__item:hover::before,
.goods-list__item:active::before {
  background-color: #f0c52e;
}

.goods-list__item:active::after {
  opacity: 0.3;
}

.goods-list__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.goods-list__link:active {
  color: rgba(0, 0, 0, 0.6);
}

.features {
  position: relative;
  top: 14px;
  width: 1440px;
  min-height: 288px;
  margin: 0 auto;
  margin-bottom: 109px;
  background-color: #e5e5e5;
}

.features__columns {
  display: flex;
}

.features__item:nth-child(2),
.features__item:nth-child(3) {
  display: none;
}

/* .features__item:nth-child(1) .features-navigation__button-warranty:hover {
  display: none;
}

.features__item:nth-child(2) .features-navigation__button-warranty:hover {
  display: flex;
} */

.features__navigation {
  list-style: none;
  width: 300px;
  position: relative;
  right: 69px;
  bottom: 35px;
}

.features__navigation .base-button {
  background: none;
  outline: none;
}

.features-navigation__item-warranty .base-button {
  bottom: 15px;
}

.features-navigation__item-credit .base-button {
  bottom: 30px;
}

.features__navigation .base-button::before {
  width: 160px;
}

.features-navigation__item-warranty .base-button::before {
  left: 29px;
  bottom: -3px;
}

.features-navigation__item-credit .base-button::before {
  left: 29px;
  bottom: -3px;
}

.features-navigation__item-delivery .base-button::before {
  left: 29px;
  bottom: -3px;
}

.features-navigation__item .base-button:hover::before {
  width: 160px;
}

.features-navigation__item .base-button:focus::before {
  background: #000000;
  width: 278px;
  z-index: -1;
}

.features-navigation__item .base-button:active::before {
  background: #000000;
  width: 278px;
  z-index: -1;
}

.features-navigation__item .base-button:focus {
  color: #f7e184;
}

.features-navigation__item .base-button:active {
  color: #f7e184;
}

.features__navigation::after {
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
  position: absolute;
  bottom: 7px;
  left: 346px;
}

.features-navigation__item {
  padding-bottom: 40px;
}

.features__list {
  position: relative;
  left: 101px;
  bottom: 74px;
  list-style: none;
}

.features__title {
  position: relative;
  right: 40px;
  bottom: 14px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.features__title::after {
  content: "";
  background: url(../img/decorative/delivery.svg) 0 0 no-repeat;
  width: 136px;
  height: 164px;
  position: absolute;
  left: 557px;
  top: 12px;
  z-index: 10;
}

.features__description {
  width: 435px;
  position: relative;
  right: 41px;
  bottom: 30px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;
}

.partners {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 106px;
}

.partners__list {
  position: relative;
  left: -21px;
  bottom: 2px;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  list-style: none;
}

.partners__item {
  width: 260px;
  height: 100px;
  margin-right: 40px;
}

.partners__item:last-child {
  margin-right: 0;
}

.partners__logo {
  opacity: 0.2;
  filter: grayscale(1);
}

.partners__logo:hover {
  opacity: 1;
  filter: none;
}

.main__columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
}

.about {
  width: 600px;
}

.contacts {
  width: 560px;
}

.about__title,
.contacts__title {
  position: relative;
  bottom: 2px;
  left: -2px;
  font-size: 47px;
  line-height: 48px;
  padding-bottom: 5px;
}

.about__title::before,
.contacts__title::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  bottom: 98px;
  left: 2px;
}

.about__description,
.contacts__description {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
}

.about__description {
  width: 500px;
  padding-bottom: 50px;
  position: relative;
  bottom: 3px;
}

.about__description-indent {
  display: block;
  padding-bottom: 30px;
}

.about__partners-list {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  padding-bottom: 45px;
  list-style: none;
}

.about__partners-item {
  position: relative;
  left: -5px;
  bottom: 3px;
}

.about__partners-item::before {
  content: "";
  position: absolute;
  left: -34px;
  bottom: 16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #ececec;
}

.about__details-link,
.contacts__writeus-link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.about__details-link {
  position: relative;
  bottom: 3px;
  left: 23px;
}

.contacts__writeus-link {
  position: relative;
  bottom: 4px;
  left: 41px
}

.contacts .base-button::before {
  width: 260px;
  left: -41px;
  top: -5px;
}

.about .base-button::before {
  width: 260px;
  left: -23px;
  top: -5px;
}

.contacts__description {
  padding-bottom: 24px;
  position: relative;
  bottom: 3px;
  left: -2px;
}

.contacts__map-link {
  display: block;
  position: relative;
  top: -3px;
  padding-bottom: 70px;
}

/*Catalog*/

.catalog-page .main-header {
  margin-bottom: 30px;
}

.catalog-page .main-navigation {
  width: 1055px;
}

.catalog-page .site-navigation {
  padding-bottom: 50px;
}

.catalog-page .main-navigation__row {
  padding-top: 33px;
  padding-bottom: 34px;
}

.main__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.breadcrumbs__link {
  color: rgba(0,0,0,0.3);
}

.main__title-columns {
  padding-left: 80px;
}

.catalog__sorting {
  display: flex;
  margin-bottom: 69px;
}

.sorting__list {
  display: flex;
}

.sorting__pointer {
  display: flex;
}

.filters {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

.filters__fieldset {
  border: none;
}

.filters-fieldset__legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.filters-fieldset__list {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0.1px;
  list-style: none;
}

.catalog__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.container__catalog {
  width: 970px;
  margin: 0 auto;
}

.filters-columns {
  display: flex;
  justify-content: space-around;
}

.catalog-columns {
  margin-left: 73px;
  margin-bottom: 77px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.catalog__item {
  width: 360px;
  margin-bottom: 70px;
  margin-right: 40px;
}

.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.catalog-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
}

.catalog-page .main-footer {
  margin-top: 0px;
}

.filters__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: #d9d9d9;
}

.sorting__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sorting__button {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
}

.catalog__sorting {
  background-color: #ebebeb;
}

.sorting__button.checked {
  color: rgba(0, 0, 0, 1)
}

.sorting__button:hover {
  color: rgba(0, 0, 0, 0.6)
}

.sorting__button:focus {
  color: rgba(0, 0, 0, 1)
}

.sorting__item {
  list-style: none;
}

.catalog__item {
  list-style: none;
}

.catalog-hover__button {
  display: none;
}

.pagination {
  display: flex;
  background-color: #ebebeb;
}

.pagination__item {
  list-style: none;
}

.pagination__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000
}

.pagination__link-number {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link-step {
  text-transform: uppercase;
}

.pagination__link-number.checked {
  color: rgba(0, 0, 0, 1);
}

.pagination__link-step:hover {
  background-color: #d9d9d9;
}

.pagination__link-step:focus {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3)
}

.pagination__link-number:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__link-number:focus {
  color: rgba(0, 0, 0, 1)
}

/*Footer*/

.main-footer {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 63px;
  padding: 0 140px;
  padding-top: 65px;
  background-color: #464646;
  color: #ffffff;
}

.main-footer__logo {
  position: relative;
  top: -5px;
}

.main-footer__row {
  display: flex;
}

.main-footer__row:nth-child(1) {
  padding-bottom: 27px;
}

.main-footer__row:nth-child(2) {
  padding-bottom: 57px;
  position: relative;
  top: -4px;
}

.main-footer__row:nth-child(3) {
  padding-bottom: 67px;
  position: relative;
}

.main-footer__row:nth-child(3)::before {
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  background-color: #ffc600;
  bottom: 90px;
}

.footer-user-navigation,
.main-footer__phone-number,
.main-footer__academy-link {
  margin: 0;
  margin-left: auto;
}

.footer-user-navigation {
  position: relative;
  bottom: 2px;
}

.footer-site-navigation__link,
.footer-user-navigation__link,
.social-links__link,
.main-footer__academy-link {
  color: #ffffff;
}

.main-footer__address,
.main-footer__phone-number {
  position: relative;
  bottom: 5px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  color: #ffffff;
}

.footer-site-navigation,
.footer-user-navigation,
.social-links {
  list-style: none;
}

.footer-site-navigation {
  display: flex;
  width: 440px;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  top: 1px
}

.footer-site-navigation__item {
  padding-right: 40px;
}

.footer-site-navigation__item:nth-child(2) {
  padding-right: 33px;
}

.footer-site-navigation__item:first-child {
  position: relative;
  left: 6px;
}

.footer-user-navigation {
  display: flex;
}

.footer-user-navigation__item {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation__item-enter {
  position: relative;
  margin-left: 64px;
  bottom: 5px;
}

.footer-user-navigation__item-compare {
  position: relative;
  margin-left: 64px;
  bottom: 5px;
}

.footer-user-navigation__item-basket {
  position: relative;
  margin-left: 64px;
  bottom: 5px;
  left: 1px;
}

.footer-user-navigation__icon-enter {
  position: absolute;
  top: 10px;
  right: 56px;
}

.footer-user-navigation__icon-compare {
  position: absolute;
  top: 11px;
  right: 78px;
}

.footer-user-navigation__icon-basket {
  position: absolute;
  top: 9px;
  right: 71px;
}

.main-footer .user-navigation__link-exit {
  color: rgba(255,255,255,0.3);
}

.social-links {
  display: flex;
  width: 160px;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 245px;
  position: relative;
  left: -53px;
  bottom: 2px;
}

.social-links__item {
  margin-left: 21px;
}

.social-links__icon {
  opacity: 0.3;
}

.social-links__icon:hover {
  opacity: 0.6;
}

.social-links__icon:active {
  opacity: 0.1;
}

.main-footer__logo-image,
.footer-user-navigation__icon,
.main-footer__academy-icon {
  fill: #ffc600;
  cursor: pointer;
}

.main-footer__academy-link {
  position: relative;
  bottom: 4px;
}

.main-footer__academy-link:hover {
  opacity: 0.6;
}

.main-footer__academy-link:active {
  opacity: 0.3;
}

.main-footer__logo-image:hover {
  opacity: 0.6;
}

.main-footer__logo-image:active {
  opacity: 0.3;
}

.footer-site-navigation__item:hover {
  opacity: 0.6;
}

.footer-site-navigation__item:active {
  opacity: 0.3;
}

.footer-user-navigation__item:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation__item:active {
  opacity: 0.3;
}

/*Modals*/

.modal {
  display: none;
}

.modal-writeus {
  display: none;
}

.modal-map {
  display: none;
}
